In [1]:
import pandas as pd
from sklearn.impute import SimpleImputer

In [2]:
df = pd.read_csv('../health_fitness_dataset.csv')

print("Dataset loaded successfully!")
print(f"Dataset shape: {df.shape}")

Dataset loaded successfully!
Dataset shape: (687701, 22)

In [3]:
print("\nDataset Info:")
print(df.info())

print("\nFirst 2 rows:")
print(df.head())

print("\nNull values in Dataset:")
print(df.isna().sum())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 687701 entries, 0 to 687700
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   participant_id            687701 non-null  int64
 1   date                      687701 non-null  object
 2   age                       687701 non-null  int64
 3   gender                    687701 non-null  object
 4   height_cm                 687701 non-null  float64
 5   weight_kg                 687701 non-null  float64
 6   activity_type             687701 non-null  object
 7   duration_minutes          687701 non-null  int64
 8   intensity                 687701 non-null  object
 9   calories_burned           687701 non-null  float64
 10  avg_heart_rate            687701 non-null  int64
 11  hours_sleep               687701 non-null  float64
 12  stress_level              687701 non-null  int64
 13  daily_steps               687701 non-null  int64
 14  hydration_level           687701 non-null  float64
 15  bmi                       687701 non-null  float64
 16  resting_heart_rate        687701 non-null  float64
 17  blood_pressure_systolic   687701 non-null  float64
 18  blood_pressure_diastolic  687701 non-null  float64
 19  health_condition          197426 non-null  object
 20  smoking_status            687701 non-null  object
 21  fitness_level             687701 non-null  float64
dtypes: float64(10), int64(6), object(6)
memory usage: 115.4+ MB
None

First 2 rows:
   participant_id        date  age gender  height_cm  weight_kg  \
0               1  2024-01-01   56      F      165.3       53.7
1               1  2024-01-04   56      F      165.3       53.9
2               1  2024-01-05   56      F      165.3       54.2
3               1  2024-01-07   56      F      165.3       54.4
4               1  2024-01-09   56      F      165.3       54.7

     activity_type  duration_minutes intensity  calories_burned  ...  \
0          Dancing                41       Low              3.3  ...
1         Swimming                28       Low              2.9  ...
2         Swimming                21    Medium              2.6  ...
3  Weight Training                99    Medium             10.7  ...
4         Swimming               100    Medium             12.7  ...

   stress_level  daily_steps  hydration_level   bmi  resting_heart_rate  \
0             3         7128              1.5  19.6                69.5
1             7         7925              1.8  19.6                69.5
2             7         7557              2.7  19.6                69.5
3             8        11120              2.6  19.6                69.5
4             1         5406              1.5  19.6                69.5

   blood_pressure_systolic  blood_pressure_diastolic  health_condition  \
0                    110.7                      72.9               NaN
1                    110.7                      72.9               NaN
2                    110.7                      72.9               NaN
3                    110.7                      72.9               NaN
4                    110.7                      72.9               NaN

   smoking_status fitness_level
0           Never          0.04
1           Never          0.07
2           Never          0.09
3           Never          0.21
4           Never          0.33

[5 rows x 22 columns]

Null values in Dataset:
participant_id                   0
date                             0
age                              0
gender                           0
height_cm                        0
weight_kg                        0
activity_type                    0
duration_minutes                 0
intensity                        0
calories_burned                  0
avg_heart_rate                   0
hours_sleep                      0
stress_level                     0
daily_steps                      0
hydration_level                  0
bmi                              0
resting_heart_rate               0
blood_pressure_systolic          0
blood_pressure_diastolic         0
health_condition            490275
smoking_status                   0
fitness_level                    0
dtype: int64

In [4]:
# Since most of the data in health_condition column is missing, we drop it
df.drop(columns=['health_condition'], inplace=True)
print("After removing the health_codition column:")
print(df.info())

# Converting date column to datetime object
df['date'] = pd.to_datetime(df['date'])

df.head()

After removing the health_codition column:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 687701 entries, 0 to 687700
Data columns (total 21 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   participant_id            687701 non-null  int64
 1   date                      687701 non-null  object
 2   age                       687701 non-null  int64
 3   gender                    687701 non-null  object
 4   height_cm                 687701 non-null  float64
 5   weight_kg                 687701 non-null  float64
 6   activity_type             687701 non-null  object
 7   duration_minutes          687701 non-null  int64
 8   intensity                 687701 non-null  object
 9   calories_burned           687701 non-null  float64
 10  avg_heart_rate            687701 non-null  int64
 11  hours_sleep               687701 non-null  float64
 12  stress_level              687701 non-null  int64
 13  daily_steps               687701 non-null  int64
 14  hydration_level           687701 non-null  float64
 15  bmi                       687701 non-null  float64
 16  resting_heart_rate        687701 non-null  float64
 17  blood_pressure_systolic   687701 non-null  float64
 18  blood_pressure_diastolic  687701 non-null  float64
 19  smoking_status            687701 non-null  object
 20  fitness_level             687701 non-null  float64
dtypes: float64(10), int64(6), object(5)
memory usage: 110.2+ MB
None

,participant_id,date,age,gender,height_cm,weight_kg,activity_type,duration_minutes,intensity,calories_burned,...,hours_sleep,stress_level,daily_steps,hydration_level,bmi,resting_heart_rate,blood_pressure_systolic,blood_pressure_diastolic,smoking_status,fitness_level
0,1,2024-01-01,56,F,165.3,53.7,Dancing,41,Low,3.3,...,6.6,3,7128,1.5,19.6,69.5,110.7,72.9,Never,0.04
1,1,2024-01-04,56,F,165.3,53.9,Swimming,28,Low,2.9,...,8.1,7,7925,1.8,19.6,69.5,110.7,72.9,Never,0.07
2,1,2024-01-05,56,F,165.3,54.2,Swimming,21,Medium,2.6,...,6.2,7,7557,2.7,19.6,69.5,110.7,72.9,Never,0.09
3,1,2024-01-07,56,F,165.3,54.4,Weight Training,99,Medium,10.7,...,7.2,8,11120,2.6,19.6,69.5,110.7,72.9,Never,0.21
4,1,2024-01-09,56,F,165.3,54.7,Swimming,100,Medium,12.7,...,7.1,1,5406,1.5,19.6,69.5,110.7,72.9,Never,0.33